:root {
/* Brand Colors */
--darkslategray: #183040;
--black: #000000;
--whitesmoke: #F8F8F8;
--steelblue: #0070A0;
/* Homepage Colors */
--gainsboro: #DDDED6;
--darkslategray: #193221;
--gainsboro: #E3E3E8;
--gray: #837C5D;
--gainsboro: #E1E8EA;
--lightgray: #D7CBC8;
}
